<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark.NoActionBar">
        <activity
            android:name=".AdminActivity.VerProductoActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.ModificarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AgregarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.EliminarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.EntradaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>